@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #253370;
}

main{
    text-align: center;
}

main h1{
    color: #ffff;
    font-size: 50px;
    text-shadow: 1px 1px 1px #000;
    padding-bottom: 3%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1%;
}

form label,input{
    width: 50%;
}

form input{
    padding: 10px;
    border: 1px solid #000;
    border-radius: 6px;
}

form label{
    color: #ffff;
    text-align: start;
    font-weight: 500;
}

form button{
    background-color: #6eb9eb;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0.7%;
    width: 10%;
    transition: 0.5s;
}

form button:hover{
    background-color: #8ccefa;
}

main img{
    width: 10%;
}